/* Reset default list styles */
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Apply grid layout to the horizontal list */
.horizontal-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); /* Adjust minmax values as needed */
    gap: 00px; /* Adjust gap as needed */
    justify-items: center; /* Centers items horizontally */
    background-color: #f2f2f2;
    padding: 00px;
}
h1 {
    padding: 15px;

}
.grid {
    grid-column: span 12;
}

.leftAlign {
    grid-column: 5 / span 12;
}

.bouncing-title {
    animation: bounce 2s infinite;
    
}

@keyframes bounce {
    0%, 100% {
        transform: translate(0,0);
    }
    25% {
        transform: translate(+10px,-10px)
    }
    50% {
        transform: translate(+0px,-20px)
    }
    75%{
        transform: translate(-10px,-10px)
    }
}

/* Style list items */
.horizontal-list li {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: calc(40vw / 4) ;
    padding-left: calc(10vw / 4) ;
    text-align: center;
    border: 2px solid #000000;
    border-radius: 0px;
    background-color: #fff;
}

/* Style links */
.horizontal-list a {
    text-decoration: none;
    color: #333;
}

.horizontal-list a:hover {
    color: #007bff;
}
